In [4]:
#prepare date
from sklearn.linear_model import LinearRegression

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import datetime as dt1
from datetime import datetime  as dt2

In [5]:
datapath2 = 'C:\\Users\\mehedee\\Documents\\data\\office_projects\\product_count_prediction\\tenpo01\\poduct_sale\\'

In [6]:
datafile = 'sale_4538151297025.csv'

In [18]:
df2 = pd.read_csv(datapath2 + datafile,parse_dates =True)

In [25]:
df2['date'] = pd.to_datetime(df2['date'])

In [30]:
df2 = df2.set_index('date')

In [31]:
df = df2

In [32]:
df

            count  money
date
2016-07-21      3    594
2016-07-22     17   3366
2016-07-23    199  18126
2016-07-24     19   3762
2016-07-25     14   2772
...           ...    ...
2020-04-25    218  25724
2020-04-26     35   6580
2020-04-27     49   9212
2020-04-28    206  24308
2020-04-29     50   9400

[1340 rows x 2 columns]

In [33]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1340 entries, 2016-07-21 to 2020-04-29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   count   1340 non-null   int64
 1   money   1340 non-null   int64
dtypes: int64(2)
memory usage: 31.4 KB

In [34]:
df = df2

In [35]:
week_days= ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday','Sunday']

def getDayOfWeek(date):
    
    day=date.weekday()

    return week_days[day]

In [42]:
df.index.weekday

Int64Index([3, 4, 5, 6, 0, 1, 2, 3, 4, 5,
            ...
            0, 1, 2, 3, 4, 5, 6, 0, 1, 2],
           dtype='int64', name='date', length=1340)

In [43]:

# df["date"]=df.index.day
df["weekday"]=df.index.weekday
df["year"] = df.index.year
df["month"] = df.index.month
df["day"] = df.index.day

In [44]:
df.head()

            count  money  weekday  year  month  day
date
2016-07-21      3    594        3  2016      7   21
2016-07-22     17   3366        4  2016      7   22
2016-07-23    199  18126        5  2016      7   23
2016-07-24     19   3762        6  2016      7   24
2016-07-25     14   2772        0  2016      7   25

In [ ]:
import sklearn.preprocessing.OneHotEncoder